<div class="alert" [ngClass]="{'alert-success' : success, 'alert-danger' : !success}"  role="alert" *ngIf="showStatusMessage">
    {{ statusMessage }}
</div>

<form [formGroup]="studentForm">
    <div class="col-md">
        <input type="text" class="form-control" id="id" name="id" formControlName="id" placeholder="Egyedi azonosító">
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Hallgató neve">
        <input type="text" class="form-control" id="circle" name="circle" formControlName="circle" placeholder="Tankör">
    </div>
    <button type="button" class="btn btn-primary" (click)="addNewStudent()">Add</button>
</form>

<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="query" placeholder="Keresés hallgató neve szerint">
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-primary" (click)="search()">Search</button>
    </div>
</div>

<div class="col-md-12 border-top m-1" *ngFor="let student of students">
    <app-student-details [student]="student"></app-student-details>
</div>