<div class="alert p-1 m-1" [ngClass]="{'alert-success' : success, 'alert-danger' : !success}"  role="alert" *ngIf="showStatusMessage">
  {{ statusMessage }}
</div>

<div class="float-container" *ngIf="!isEditingStudent">
  <div class="row">
    <div class="col-md-1">
      <h4>{{student.id}}</h4>
    </div>
    <div class="col-md">
      <h4>{{student.name}}</h4>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary m-1" (click)="toggleEditStudentMode()">Hallgató szerkesztése</button>
    </div>    
  </div>

  <div class="row">
    <div class="col-md">
      <p>{{student.circle}}</p>
    </div>
    <div class="col-md-1" *ngIf="isDeletingStudent">
      Biztos?
    </div>
    <div class="col-md-1" *ngIf="isDeletingStudent">
      <button type="button" class="btn btn-danger" (click)="deleteStudent()">Törlés</button>
    </div>
    <div class="col-md-2" *ngIf="!isDeletingStudent">
      <button type="button" class="btn btn-danger m-1" (click)="toggleDeleteStudentMode()">Hallgató törlése</button>
    </div>
  </div>
</div>

<form [formGroup]="editStudentForm" *ngIf="isEditingStudent">  
  <div class="col-md">
      <input type="text" class="form-control m-1" id="id" name="id" formControlName="id" placeholder="Egyedi azonosító" readonly>
      <input type="text" class="form-control m-1" id="name" name="name" formControlName="name" placeholder="Hallgató neve">
      <input type="text" class="form-control m-1" id="circle" name="circle" formControlName="circle" placeholder="Tankör">
  </div>
  <button type="button" class="btn btn-success m-1" (click)="updateStudent()">Szerkesztés</button>
  <button type="button" class="btn btn-danger m-1" (click)="toggleEditStudentMode()">Mégse</button>
</form>

<table class="table">
  <thead>
    <tr>      
      <th class="col-md-7" scope="col">Tantárgy</th>
      <th class="col-md-1" scope="col">Időpont</th>
      <th class="col-md-1" scope="col">Értékelés</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let enrollment of studentEnrollments">
    <tr>
      <th scope="row">{{enrollment.course.subject.name}}</th>
      <td>{{enrollment.course.time}}</td>
      <td *ngIf="!isEditingEnrollment">{{enrollment.mark}}</td>
      <td *ngIf="isEditingEnrollment">
        <input type="number" min="1" max="5" value="{{enrollment.mark}}" class="form-control" [(ngModel)]="tempMark" placeholder="5">
      </td>
      <td>
        <button type="button" class="btn btn-primary m-1" *ngIf="!isEditingEnrollment && !isDeletingEnrollment" (click)="toggleEditEnrollmentMode()">Értékelés módosítása</button>
        <button type="button" class="btn btn-danger m-1" *ngIf="!isEditingEnrollment && !isDeletingEnrollment" (click)="toggleDeleteEnrollmentMode()">Törlés</button>
        <button type="button" class="btn btn-success m-1" *ngIf="isEditingEnrollment" (click)="updateEnrollment(enrollment)">Mentés</button>
        <button type="button" class="btn btn-danger m-1" *ngIf="isEditingEnrollment" (click)="toggleEditEnrollmentMode()">Mégse</button>
        <div class="row" *ngIf="isDeletingEnrollment">
          <div class="col-md-2">
            Biztos?
          </div>
          <div class="col-md">
            <button type="button" class="btn btn-danger m-1" (click)="deleteEnrollment(enrollment)">Törlés</button>
            <button type="button" class="btn btn-primary m-1" (click)="toggleDeleteEnrollmentMode()">Mégse</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="newEnrollmentForm">
  <div class="row">
    <div class="col-md-7">
      <select class="form-select" id="subjectName" name="subjectName" formControlName="subjectName">
        <option *ngFor="let subject of subjects" value="{{subject.name}}">{{subject.name}}</option>
      </select>
    </div>
    <div class="col-md-1">
      <input type="text" value="" class="form-control" formControlName="time" placeholder="HH:MM">
    </div>
    <div class="col-md-1">
      <input type="number" min="1" max="5" value="1" class="form-control" formControlName="mark" placeholder="5">
    </div>
    <div class="col-md">
      <button type="button" class="btn btn-success m-1" (click)="createEnrollment()">Kurzus létrehozása</button>
    </div>
  </div>
</form> 

<p>A hallgató átlaga: {{calculateAverage()}}</p>